<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To do list{% endblock %}</title>
    {% block style %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <style>
        .sidebar {
          height: 100vh;
          length: 50vh;  
        }
      </style>
    {% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {% block sidebar %}
        <div class="col-md-3 col-sm-4 bg-dark">
          {% include "includes/sidebar.html" %}
        </div>
      {% endblock %}
      <div class="col-md-9 col-sm-8">
        <div class="content p-3">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
