{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Task List <a href="{% url 'website:task-create' %}">(create new task)</a></h1>
  <br>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Update</th>
        <th>Delete</th>
        <th>STATUS</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>
            {{ task.id }}
          </td>
          <td><a href="#">{{ task.content }}</a>
          </td>
          <td>
            <a href="{% url 'website:task-update' pk=task.id %}">UPDATE</a>
          </td>
          <td>
            <a href="#">DELETE</a>
          </td>
          <td>
            <a href="#">
              {% if task.status %}
                Done
              {% else %}
                Not done
              {% endif %}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no any task in the list</p>
  {% endif %}
{% endblock %}